<link rel="stylesheet" href="../../public/css/styles.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<body>
    <div class="card-header">
            <h3 class="header-text">
                Sparky Product  
            </h3>
        <a class="btn-header-index" href="../pages/index.html" target="_top">Início</a>
        <a class="btn-header-product" href="../pages/product/catalog.html" target="_top">Produtos</a>
        <a class="btn-header-category" href="../pages/category/catalog.html" target="_top">Categorias</a>
        <a class="btn-logout-index" href="../pages/user/login.html" target="_top">Logout</a>
    </div>
</body>