.page{
    height: 100%;
    width: 100%;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action:manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.footer-text{
    color: #fff;
    font-size: 17px;
    width: 500px;
}

.header-text{
    color: #fff;
    font-size: 30px;
    width: 300px;
    margin-left: 3%;
    margin-top: 1%;
}

.btn-header-index{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border-color:transparent;
    top: 25%;
    left: 26%;
    z-index: 3;
    position: absolute;
}

.btn-header-product{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border-color:transparent;
    top: 25%;
    left: 35%;
    z-index: 3;
    position: absolute;
}

.btn-header-category{
    color: #fff;
    font-weight: bold;
    background-color: transparent;
    border-color:transparent;
    top: 25%;
    left: 45%;
    z-index: 3;
    position: absolute;
}

div.card-footer {
    height: 100%;
    width: 100%;
    background-color:peru;
    border-style: none;
}

div.card-header {
    height: 100%;
    width: 100%;
    background-color:peru;
}

header {
    height: 100%;
    width: 100%;
    background-color:peru;
}

.input-login-email{
    width: 30%;
}

.input-login-password{
    width: 30%;
    margin-top: 3%;
}

.btn-login{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin-top: 3%;
}

.btn-cadastro{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin-top: 3%;
    margin-left: 13%;
}

.form-login{
    margin-left: 40%;
    margin-top: 15%;
}

.title-login{
    margin-top: 5%;
    margin-right: 2%;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color:#fff;
    border-color: #000000;
}

.btn-cadastro-confirmar{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin-top: 3%;
}

.btn-cadastro-voltar{
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    margin-top: 3%;
    margin-left: 13%;
}

.form-register{
    margin-left: 40%;
    margin-top: 15%;
}

.input-register-nome{
    width: 30%;
}

.input-register-email{
    width: 30%;
    margin-top: 3%;
}

.input-register-password{
    width: 30%;
    margin-top: 3%;
}

.title-register{
    margin-top: 5%;
    margin-right: 2%;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color: #fff;
}

.title-index {
    margin-top: 20%;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
    color:#000000;
}

.navbar-fixed-bottom {
    position: fixed;     
    padding: 10px 10px 0px 10px;     
    bottom: 0;     
    width: 100%;      
    background: peru;
}